/* credit: Dan https://github.com/dano1234/SharedMindsS26/tree/main/Week%2001%20%20Vanilla%20Javascript */
#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#inputBox {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    padding: 8px 10px;
    font-size: 16px;
    box-sizing: border-box;
}